.loading-screen {
  z-index: 100;
  width: 100%;
  top: 0;
  height: 100%;
  overflow: hidden; /* Ensures no elements overflow */
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black; /* Base background color */
}

.loading-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.loading-bg div {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1); /* Light blurred shapes */
  filter: blur(30px);
  border-radius: 50%;
  animation: move-bg 10s ease-in-out infinite, fade-bg 8s ease-in-out infinite;
}

.loading-bg div:nth-child(1) {
  top: 10%;
  left: 20%;
  animation-delay: 0s;
}

.loading-bg div:nth-child(2) {
  top: 40%;
  left: 60%;
  animation-delay: 2s;
}

.loading-bg div:nth-child(3) {
  top: 70%;
  left: 30%;
  animation-delay: 4s;
}

.loading-bg div:nth-child(4) {
  top: 30%;
  left: 80%;
  animation-delay: 6s;
}

@keyframes move-bg {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, -50px) scale(1.2);
  }
  100% {
    transform: translate(-30px, 30px) scale(1);
  }
}

@keyframes fade-bg {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
}

.loading-popup {
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 10px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-top-color: var(--primary-text-color);
  animation: spin 1s cubic-bezier(0.65, 0.05, 0.36, 1) infinite;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin-top: 20px;
  font-size: 1.5rem;
  color: var(--primary-text-color);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
