:root {
  --primary-color: 111, 76, 255;

  --bg-accent: #333;
  --bg-secondary: #ffffff;
  --secondary-text-color: #f9f9f9;

  /* --bg-primary: whitesmoke; */
  /* --primary-text-color: black; */

  --bg-primary: #1e1e1e;
  --primary-text-color: #f9f9f9;

  /* --bg-accent: #cacaca; */
}

[data-theme="dark"] {
  --bg-primary: #000;
  --bg-secondary: #2e2e2e;
  --primary-text-color: #f9f9f9;
  --secondary-text-color: white;
  --bg-accent: #333;
}

body {
  margin-top: 100px;
  background: var(--bg-primary);
}

.title {
  margin-bottom: 5vh;
}
.card {
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  border: transparent;
}

.cart-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 20px 0 0 20px;
}

.summary {
  background-color: #ddd;
  border-radius: 0 20px 20px 0;
  color: rgb(65, 65, 65);
}

.summary .col-2 {
  padding: 0;
}
.summary .col-10 {
  padding: 0;
}
.row {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.text-right {
  text-align: end;
}
.title b {
  font-size: 1.5rem;
}
.main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
.col-2,
.col {
  padding: 0 1vh;
}
.col,
.row {
  padding-left: 0;
}
a {
  padding: 0 1vh;
}
.close {
  margin-left: auto;
  font-size: 0.7rem;
}
.cart-container img {
  width: 3.5rem;
}
.back-to-shop {
  margin-top: 4.5rem;
}
h5 {
  margin-top: 4vh;
}
hr {
  margin-top: 1.25rem;
}
form {
  padding: 2vh 0;
}
select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
.item-quantity button {
  border: none;
  padding: 0 10px;
  margin: 0 10px;
}
.cart-container .btn {
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}
.btn {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #333;
  margin: 5px;
}
.btn:focus {
  box-shadow: none;
  outline: none;
  color: #000;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none;
}
.btn:hover {
  color: white;
  font-weight: bold;
  background-color: var(--bg-accent);
}
a {
  color: black;
}
a:hover {
  color: black;
  text-decoration: none;
}
#code {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0.253),
      rgba(255, 255, 255, 0.185)
    ),
    url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

@media (max-width: 767px) {
  .cart-container {
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
  .card {
    margin: auto 10px;
    width: 100%;
    max-width: 95%;
  }
  .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}
@media (max-width: 567px) {
  .original-price{
    display: none;
  }
  .item-quantity{
    margin-left: auto;
    display: flex;
    flex-direction: row;
  }
}
