/* General Reset */
.quantity-selector input[type="number"]::-webkit-outer-spin-button,
.quantity-selector input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-selector input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Main container for the page */
.main-container {
  position: relative;
  width: 100%;
  background-color: black;
  overflow-y: auto;
  color: white;
}

/* Banner image */
#myCarousel img {
  position: relative;
  width: 100%;
  height: 100vh;
  object-fit: fill;

  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0));
}

.cover-page h1 {
  width: 100%;
  position: absolute;
  top: 35%;
  font-size: clamp(2.5rem, 5vw, 5rem); /* Responsive font size */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Merienda One", sans-serif;
  font-weight: bolder;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333;

  paint-order: stroke fill;
}

.cover-page h1 span {
  margin-top: 5px;
  font-size: clamp(1rem, 2vw, 1.5rem); /* Responsive font size */
  word-spacing: 1px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  color: #f9c74f;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
  -webkit-text-stroke-width: 3px;
}

.cover-page h1 span:after,
.cover-page h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
}

.cover-page h1 span:after,
.cover-page h1 span:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  height: 5px;
  background-color: #f8f8f8;
}

/* Browse Menu Button */
.browse-menu-button {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 25%; /* Adjusted to avoid overlap */
  transform: translateX(-50%);
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(
    90deg,
    #007bff,
    #ff4b5c
  ); /* Gradient from left to right */
  background-size: 200% 100%; /* Make the gradient larger to allow sliding effect */
  background-position: 100% 0; /* Start with the gradient on the right */
  border: none;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  animation: colorSlide 3s ease-in-out infinite; /* Continuous right to left sliding effect */
}

.browse-menu-button:hover {
  box-shadow: rgba(var(--primary-color), 1) 0px 0px 20px 0px;
}

.browse-menu-button:active {
  transform: translateX(-50%) scale(0.95);
}

/* Right to left gradient slide animation */
@keyframes colorSlide {
  0% {
    background-position: 100% 0; /* Start gradient from the right */
  }
  50% {
    background-position: 0% 0; /* Slide the gradient to the left */
  }
  100% {
    background-position: 100% 0; /* End the gradient at the right */
  }
}

/* Details container */
.details-container {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  position: relative;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.8); /* Slightly transparent black */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* Features section */
.features {
  display: grid;
  grid-gap: 10px;
}

/* Feature item */
.feature-item {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.restaurant-features {
  font-weight: bold;
}

.feature-value {
  font-weight: normal;
}

/* Operating hours */
.operating-hours {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.restaurant-operating-hours {
  font-size: 1rem;
  color: #90caf9;
}

/* Location details */
.location {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.restaurant-location {
  font-size: 1rem;
}

/* Contact details */
.contacts {
  display: none;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.restaurant-contact {
  font-size: 1rem;
  color: #f48fb1;
}

/* Header for sections */
h3 {
  color: #999;
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: left;
  font-weight: bold;
}

/* Map Container */
.map-container {
  height: 90%;
  margin-top: 30px;
  background: linear-gradient(135deg, #007bff, #ff4b5c);
  border-radius: 10px;
  text-align: center;
}

/* Embed Map */
#embed-map-display {
  width: 100%;
  padding: 2px;
  height: 100%; /* Adjust the height of the map */
  border-radius: 10px;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
}

/* Optional: Center the map container */
.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Category row */
.category-row,
.filter-row {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: all 0.3ms ease-in-out;
}
.filter-row {
  z-index: 1000;
  position: sticky;
  top: 0;
}

.filter-row .searchbar {
  flex: 3;
  display: flex;
  align-items: center;
  position: relative;
}

.filter-row .searchbar input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.filter-row .searchbar input[type="text"]:focus {
  box-shadow: 0 0 6px rgba(244, 162, 97, 0.6); /* Highlight on focus */
}

.filter-row .searchbar i {
  position: absolute;
  left: 10px;
  color: #888;
  font-size: 16px;
}

.category-item,
.filter-item {
  margin: 5px;
  padding: 8px 12px;
  background: #333;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.category-item:hover,
.filter-item:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

.reset-item {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 100%,
    #ff512f 100%
  );

  display: none;
  font-weight: bold;
  text-align: center;
  transition: 0.5s;
  color: white;
}

.reset-item:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:active {
  padding: 0;
  background: none;
  border: none;
}

.selected {
  background: linear-gradient(135deg, #007bff, #ff4b5c);
}

.categoryselected {
  background: linear-gradient(135deg, #ff4b5c, #007bff);
}

/* Menu items */
.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.item {
  width: 300px;
  background: rgba(255, 255, 255, 0.1); /* Slight transparency */
  border-radius: 10px;
  overflow: auto;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.item * {
  margin-bottom: 0;
}
.item-price-old {
  color: #999;
  text-decoration: line-through;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
}

.item-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.item-details {
  text-align: left;
  padding: 10px;
  color: white;
}

.item-name {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.item-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.item-description abbr {
  text-decoration: none;
}
.item-category {
  font-size: 0.9rem;
  color: #90caf9;
}

/* Add to cart button */
/* General Cart Box Styling */
.cart-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

/* Quantity Input */

.quantity-selector {
  color: #000;
  display: contents;
  vertical-align: top;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}
.quantity-selector input[type="number"] {
  width: 35px;
  min-height: 35px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  height: min-content;
}

.increase {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 35px;
  height: 35px;
  font: 35px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
}
.decrease {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: white;
  width: 35px;
  height: 35px;
  font: 35px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 50%;
  background-clip: padding-box;
}

.cart-button:hover {
  background-color: #218838;
}

.cart-button:active {
  background-color: #1e7e34;
}

.cart-box {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.cart-button {
  padding: 8px 16px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #28a745, #218838);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
:root {
  --primary-color: 111, 76, 255;
}
.btn-glow:hover {
  box-shadow: #28a745 0px 0px 20px 0px;
}

.cart-button:active {
  transform: scale(0.95);
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: end;
  padding: 0 7%;
  text-align: center;
}

.pagination a {
  color: white;
  padding: 20px;
  background-color: #333;
  text-decoration: none;
  margin: 3px;
  border-radius: 20px;
  cursor: pointer;
}
footer .row {
  justify-content: space-between;
}
footer .btn-lg {
  border-radius: 0;
  padding: 10px;
  height: min-content;
  width: min-content;
}
.bg-darkk {
  background-color: #222;
}

@media screen and (max-width: 653px) {
  .cover-page h1 {
    width: 100%;
    position: absolute;
    top: 30%;
    font-size: clamp(2.5rem, 5vw, 5rem); /* Responsive font size */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Merienda One", sans-serif;
    font-weight: bolder;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333;

    paint-order: stroke fill;
  }

  .cover-page h1 span {
    display: none;
    margin-top: 5px;
    font-size: clamp(1rem, 1vw, 1.5rem); /* Responsive font size */
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    color: #f9c74f;
    text-align: center;
    word-wrap: break-word; /* Break long words if necessary */
    overflow-wrap: break-word; /* Ensures breaking behavior */
  }

  .cover-page h1 span:after,
  .cover-page h1 span:before {
    display: none;
    content: " ";
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
    background-color: #f8f8f8;
  }

  .browse-menu-button {
    top: 15%;
  }
  #myCarousel img {
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .filter-row {
    margin-top: 10px;
  }

  .filter-row,
  .category-row {
    margin: 5px;
    border-radius: none;
  }

  .details-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    padding: 5px;
  }

  .map-container {
    height: 300px;
    margin-top: 10px;
    width: 100%;
    background: linear-gradient(135deg, #007bff, #ff4b5c);
    border-radius: 10px;
    text-align: center;
  }

  .menu-container {
    padding: 5px;
  }
  .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .item-img {
    position: relative;
  }

  .item-img img {
    width: 50%;
    position: fixed;
    right: 1px;
    height: 100%;
    object-fit: fill;
    border-radius: 1px;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to left, rgba(0, 0, 0, 2), rgba(0, 0, 0, 0));
  }

  .item-details {
    z-index: 1;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px; /* Space between text elements */
  }

  .item-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    margin: 0;
  }

  .badge {
    font-size: 0.8rem;
    margin-left: 5px;
    color: #fff;
    background-color: #28a745; /* Green badge for rating */
    border-radius: 4px;
    padding: 2px 5px;
  }

  .item-description {
    font-size: 0.9rem;
    color: #f8f8f8;
    margin: 0;
  }
  .item-price {
    font-size: 1rem;
    font-weight: bold;
    color: whitesmoke;
    margin: 5px 0 0 0;
  }

  .item .item-og-price {
    color: #333;
  }

  .cart-box {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-left: auto; /* Push the cart controls to the far right */
  }

  .quantity-selector {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .quantity-selector button {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #f8f8f8;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }

  .quantity-selector input {
    width: 40px;
    text-align: center;
    font-size: 1rem;
    border: 1px solid #ddd;
    padding: 2px;
  }

  .cart-button {
    padding: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

  .cart-button:hover {
    background-color: #0056b3;
  }
  .pagination {
    padding: 5px;
  }
}
