html,
body {
  /* background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f29263),
    to(#ee5a6f)
  ); */
  background-color: var(--bg-primary);
  /* background: linear-gradient(to right, #000000, #4d4d4d); */
  background-size: 200% 100%;
  animation: colorSlide 20s ease-in-out infinite;
  transition: background 0.2s linear;
}
body * {
  transition: background 0.2s linear;
}
@keyframes colorSlide {
  0% {
    background-position: 100% 0; /* Start gradient from the right */
  }
  50% {
    background-position: 0% 0; /* Slide the gradient to the left */
  }
  100% {
    background-position: 100% 0; /* End the gradient at the right */
  }
}

.bg {
  transition: background 0.2s linear;
  border-radius: 20px;
  background-color: var(--bg-secondary);
  color: var(--primary-text-color);
}

.profile-container {
  margin: 50px 0;
}
.profile-container .row {
  min-height: 80vh;
}
.row {
  max-width: 90%;
  margin: auto;
}

.row > * {
  padding-right: 0;
}

/* My Account */
.payments-item img.mr-3 {
  width: 47px;
}
.order-list .btn {
  border-radius: 2px;
  min-width: 121px;
  font-size: 13px;
  padding: 7px 0 7px 0;
}
.osahan-account-page-left,
.osahan-account-page-right {
  margin-top: 20px;
}
.osahan-account-page-left .nav-link {
  padding: 18px 20px;
  border: none;
  font-weight: 600;
  color: var(--primary-text-color);
}
.osahan-account-page-left .nav-link i {
  width: 28px;
  height: 28px;
  background: #535665;
  display: inline-block;
  text-align: center;
  line-height: 29px;
  font-size: 15px;
  border-radius: 50px;
  margin: 0 7px 0 0px;
  color: var(--primary-text-color);
}
.osahan-account-page-left .nav-link.active {
  color: var(--primary-text-color) !important;
}
.osahan-account-page-left .nav-link.active i {
  background: #282c3f !important;
}
.osahan-user-media img {
  width: 90px;
}
.card offer-card h5.card-title {
  border: 2px dotted #000;
}
.card.offer-card h5 {
  border: 1px dotted #daceb7;
  display: inline-table;
  color: var(--primary-text-color);
  margin: 0 0 19px 0;
  font-size: 15px;
  padding: 6px 10px 6px 6px;
  border-radius: 2px;
  background: #fffae6;
  position: relative;
}
.card.offer-card h5 img {
  height: 22px;
  object-fit: cover;
  width: 22px;
  margin: 0 8px 0 0;
  border-radius: 2px;
}
.card.offer-card h5:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #daceb7;
  content: "";
  left: 30px;
  position: absolute;
  bottom: 0;
}
.card.offer-card h5:before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #daceb7;
  content: "";
  left: 30px;
  position: absolute;
  top: 0;
}
.payments-item .media {
  align-items: center;
}
.payments-item .media img {
  margin: 0 40px 0 11px !important;
}
.reviews-members .media .mr-3 {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
.order-list img.mr-4 {
  width: 70px;
  height: 70px;
  object-fit: cover;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 2px;
}
.osahan-cart-item p.text-gray.float-right {
  margin: 3px 0 0 0;
  font-size: 12px;
}
.osahan-cart-item .food-item {
  vertical-align: bottom;
}

.rounded-pill {
  border-radius: 50rem !important;
}
a:hover {
  text-decoration: none;
}

.mb-4 {
  padding: 10px;
}
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button {
  background-color: whitesmoke;
}

.accordion-body {
  gap: 15px;
  padding: 20px;
}

.accordion-item {
  border: none;
}
.accordion-header {
  border: none;
  background-color: var(--bg-secondary);
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.osahan-account-page-left,
a {
  color: var(--secondary-text-color) !important;
}
@media screen and (max-width: 653px) {
  .row > * {
    padding-left: 0;
  }
  .osahan-user-media {
    padding-top: 1rem;
  }
  .p-4 {
    padding: 0 !important;
  }
  .pb-4 {
    padding: 0.1rem 0 !important;
  }
  .h-100 {
    height: min-content !important;
  }
  .profile-container .row {
    height: min-content;
  }
  .accordion-header {
    background-color: var(--bg-primary);
  }
  .accordion-body {
    padding: 10px 0px;
  }
  .accordion-item:last-of-type > .accordion-collapse {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }
  .accordion-item:last-of-type > .accordion-header .accordion-button {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
}
